---
import AddTodo from "../components/AddTodo";
import AllTodos from "../components/AllTodos";
import MyTodos from "../components/MyTodos";
import Root from "../layouts/root.astro";
import prisma from "../utils/prisma";

const userid = Astro.cookies.get("userid").value;
if (!userid) return Astro.redirect("/");
const user = await prisma.user.findFirst({ where: { id: userid } });
---

<Root user={user}>
  <AddTodo client:load />
  <section class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <aside><MyTodos client:load /></aside>
    <aside><AllTodos client:load /></aside>
  </section>
</Root>
