---
import AddTodo from "../components/AddTodo";
import MyTodos from "../components/MyTodos";
import Root from "../layouts/root.astro";
import prisma from "../utils/prisma";

const userid = Astro.cookies.get("userid").value;
if (!userid) return Astro.redirect("/");
const user = await prisma.user.findFirst({ where: { id: userid } });
---

<Root user={user}>
  <h1>Hello world!</h1>

  <AddTodo client:load />
  <MyTodos client:load />
</Root>
