---
import LoginForm from "../components/LoginForm";
import Root from "../layouts/root.astro";
Astro.cookies.delete("userid");
---

<Root>
  <h1>Not logged in you stooopid!</h1>
  <LoginForm client:load />
</Root>
